.beatbox {
    width: 600px;
    height: 600px;
    background-color: #333;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
  }
  
  body {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url('./assets/background.jpeg');
    background-size: cover;
  }
  
  .beat {
    width: 150px;
    height: 150px;
    flex-basis: 29%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 5px solid aqua;
    font-size: 2em;
    font-family: sans-serif;
    color: white;
    transition: all 0.2s;
  }
